{{/* Render the publications section index as a long-form single page. */}}
{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="page-content mw7 center">
    <article class="post-content pa0 ph4-l">
      <header class="post-header">
        <h1 class="f1 lh-solid measure-narrow mb3 fw4">{{ .Title }}</h1>
        {{ with .Description }}<p class="f5 measure lh-copy">{{ . | markdownify }}</p>{{ end }}
      </header>
      <section class="post-body pt4 pb4">
        {{ .Content }}
      </section>
    </article>
  </section>
</main>
{{ end }}
